[Unit]
Description=Flask Blog
[Service]
User=pythonadm
WorkingDirectory=/opt/flask-blog
ExecStart=/bin/bash \
	-c 'cd /opt/flask-blog && \
	. ./venv/bin/activate && \
	python ./app.py'
Environment=SECRET_KEY={{SECRET_KEY}}
Environment=DATABASE_URI={{DATABASE_URI}}
[Install]
WantedBy=multi-user.target

